Repository qbicsoftware/offer-manager-2-portlet, pull requests merged in 2022-03, with the labels that each got.

#900 Enable scrollbar for mainview for smaller screensizes
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/AppView.groovy
  offer-manager-app/src/main/webapp/VAADIN/themes/mytheme/mytheme.scss
Labels: feature

#907 Clean up Repo and add main branch rule to codeql workflow
  .codecov.yml
  .generate-reports.py
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general_question.md
  .github/pull_request_template.md
  .github/workflows/codeql-analysis.yml
  .readthedocs.yml
  CODEOFCONDUCT.rst
  docs/Makefile
  docs/_static/custom_cookietemple.css
  docs/authors.rst
  docs/changelog.rst
  docs/codeofconduct.rst
  docs/conf.py
  docs/index.rst
  docs/installation.rst
  docs/make.bat
  docs/readme.rst
  docs/requirements.txt
  docs/usage.rst
Labels: fix

#906 update workflows
  .codecov.yml
  .generate-reports.py
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general_question.md
  .github/pull_request_template.md
  .github/workflows/build_package.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/run_tests.yml
  .readthedocs.yml
  CODEOFCONDUCT.rst
  docs/Makefile
  docs/_static/custom_cookietemple.css
  docs/authors.rst
  docs/changelog.rst
  docs/codeofconduct.rst
  docs/conf.py
  docs/index.rst
  docs/installation.rst
  docs/make.bat
  docs/readme.rst
  docs/requirements.txt
  docs/usage.rst
Labels: fix

#909 Chore/resolve master merge conflict
  .codecov.yml
  .generate-reports.py
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general_question.md
  .github/pull_request_template.md
  .github/workflows/build_package.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/run_tests.yml
  .readthedocs.yml
  CODEOFCONDUCT.rst
  docs/Makefile
  docs/_static/custom_cookietemple.css
  docs/authors.rst
  docs/changelog.rst
  docs/codeofconduct.rst
  docs/conf.py
  docs/index.rst
  docs/installation.rst
  docs/make.bat
  docs/readme.rst
  docs/requirements.txt
  docs/usage.rst
Labels: chore
