Repository qbicsoftware/offer-manager-2-portlet, pull requests merged in 2022-04, with the labels that each got.

#922 Model tax policies properly to the offer management domain
  offer-manager-domain/src/main/groovy/life/qbic/business/offers/OfferV2.groovy
  offer-manager-domain/src/main/groovy/life/qbic/business/offers/TaxOffice.groovy
  offer-manager-domain/src/main/groovy/life/qbic/business/offers/policies/taxes/ExternalGermanCustomerTaxPolicy.java
  offer-manager-domain/src/main/groovy/life/qbic/business/offers/policies/taxes/InternalTaxPolicy.java
  offer-manager-domain/src/main/groovy/life/qbic/business/offers/policies/taxes/OutsideGermanyTaxPolicy.java
  offer-manager-domain/src/main/groovy/life/qbic/business/offers/policies/taxes/PolicyViolationException.java
  offer-manager-domain/src/main/groovy/life/qbic/business/offers/policies/taxes/TaxOffice.java
  offer-manager-domain/src/main/groovy/life/qbic/business/offers/policies/taxes/TaxPolicy.java
  offer-manager-domain/src/test/groovy/life/qbic/business/offers/OfferV2Spec.groovy
  offer-manager-domain/src/test/groovy/life/qbic/business/offers/TaxOfficeSpec.groovy
  offer-manager-domain/src/test/groovy/life/qbic/business/offers/policies/taxes/ExternalGermanCustomerTaxPolicySpec.groovy
  offer-manager-domain/src/test/groovy/life/qbic/business/offers/policies/taxes/InternalCustomerTaxPolicySpec.groovy
  offer-manager-domain/src/test/groovy/life/qbic/business/offers/policies/taxes/OutsideGermanyTaxPolicySpec.groovy
  offer-manager-domain/src/test/groovy/life/qbic/business/offers/policies/taxes/TaxOfficeSpec.groovy
Labels: fix

#926 Implement Update Affiliation Use Case
  offer-manager-domain/src/main/groovy/life/qbic/business/persons/affiliation/update/UpdateAffiliation.groovy
  offer-manager-domain/src/main/groovy/life/qbic/business/persons/affiliation/update/UpdateAffiliationInput.groovy
  offer-manager-domain/src/main/groovy/life/qbic/business/persons/affiliation/update/UpdateAffiliationOutput.groovy
  offer-manager-domain/src/test/groovy/life/qbic/business/persons/affiliation/UpdateAffiliationSpec.groovy
Labels: feature

#927 Feature/dm 289 implement UI component
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/DependencyManager.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/AbortNotifier.java
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/SubmitNotifier.java
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/Updatable.java
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/UserInput.java
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/AffiliationUserInput.java
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/ViewChangeListener.java
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/create/CreateAffiliationController.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/create/CreateAffiliationPresenter.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/create/CreateAffiliationView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/create/CreateAffiliationViewModel.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/search/SearchAffiliationView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/update/UpdateAffiliationController.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/update/UpdateAffiliationPresenter.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/update/UpdateAffiliationView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/offer/create/CreateOfferView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/offer/update/UpdateOfferView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/person/create/CreatePersonView.groovy
  offer-manager-domain/src/main/groovy/life/qbic/business/RefactorConverter.java
  offer-manager-domain/src/main/groovy/life/qbic/business/persons/affiliation/Affiliation.groovy
Labels: feature

#928 Ask for confirmation if an affilation category was changed during Affiliation Update
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/update/UpdateAffiliationView.groovy
Labels: feature

#929 Feature/improve layout
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/create/CreateAffiliationView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/search/SearchAffiliationView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/update/UpdateAffiliationView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/offer/create/CreateOfferView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/offer/update/UpdateOfferView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/person/search/SearchPersonView.groovy
Labels: feature

#924 Update affiliation category
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/DependencyManager.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/AbortNotifier.java
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/SubmitNotifier.java
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/Updatable.java
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/UserInput.java
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/AffiliationUserInput.java
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/ViewChangeListener.java
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/create/CreateAffiliationController.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/create/CreateAffiliationPresenter.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/create/CreateAffiliationView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/create/CreateAffiliationViewModel.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/search/SearchAffiliationView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/update/UpdateAffiliationController.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/update/UpdateAffiliationPresenter.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/update/UpdateAffiliationView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/offer/create/CreateOfferView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/offer/update/UpdateOfferView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/person/create/CreatePersonView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/person/search/SearchPersonView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/dataresources/persons/AffiliationDbConnector.java
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/dataresources/persons/PersonDbConnector.groovy
  offer-manager-domain/src/main/groovy/life/qbic/business/RefactorConverter.java
  offer-manager-domain/src/main/groovy/life/qbic/business/persons/affiliation/Affiliation.groovy
  offer-manager-domain/src/main/groovy/life/qbic/business/persons/affiliation/AffiliationNotFoundException.groovy
  offer-manager-domain/src/main/groovy/life/qbic/business/persons/affiliation/update/UpdateAffiliation.groovy
  offer-manager-domain/src/main/groovy/life/qbic/business/persons/affiliation/update/UpdateAffiliationDataSource.groovy
  offer-manager-domain/src/main/groovy/life/qbic/business/persons/affiliation/update/UpdateAffiliationInput.groovy
  offer-manager-domain/src/main/groovy/life/qbic/business/persons/affiliation/update/UpdateAffiliationOutput.groovy
  offer-manager-domain/src/test/groovy/life/qbic/business/persons/affiliation/UpdateAffiliationSpec.groovy
Labels: feature

#936 Fix project url in version information
  offer-manager-app/pom.xml
  pom.xml
Labels: chore

#932 Remove affiliation from person
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/person/update/UpdatePersonView.groovy
Labels: feature

#937 Remove affiliation from person (#932)
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/person/update/UpdatePersonView.groovy
Labels: feature

#934 Add archive affiliation use case
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/DependencyManager.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/search/ArchiveAffiliationController.java
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/search/ArchiveAffiliationPresenter.java
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/components/affiliation/search/SearchAffiliationView.groovy
  offer-manager-app/src/main/groovy/life/qbic/portal/offermanager/dataresources/persons/AffiliationDbConnector.java
  offer-manager-domain/src/main/groovy/life/qbic/business/persons/affiliation/Affiliation.groovy
  offer-manager-domain/src/main/groovy/life/qbic/business/persons/affiliation/archive/ArchiveAffiliation.groovy
  offer-manager-domain/src/main/groovy/life/qbic/business/persons/affiliation/archive/ArchiveAffiliationInput.groovy
  offer-manager-domain/src/main/groovy/life/qbic/business/persons/affiliation/archive/ArchiveAffiliationOutput.groovy
  offer-manager-domain/src/main/groovy/life/qbic/business/persons/affiliation/list/ListAffiliations.groovy
Labels: feature
